<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skfo763.qrcheckin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_full"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.skfo763.qrcheckin.BaseApplication"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${adMobAppKey}"/>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${naverMapClientId}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <receiver android:name="com.skfo763.qrcheckin.lockscreen.receiver.ScreenReceiver" />
        <service android:name="com.skfo763.qrcheckin.lockscreen.service.LockScreenService"
            android:exported="false">
        </service>
        <service android:name="com.skfo763.component.floatingwidget.FloatingWidgetService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service android:name=".lockscreen.service.FetchAddressIntentService"
            android:exported="false">
        </service>
        <activity
            android:name=".launch.LaunchActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:launchMode="singleTop">
        </activity>
        <activity-alias
            android:name=".launch.LightIconLauncher"
            android:targetActivity=".launch.LaunchActivity"
            android:icon="@drawable/launcher_icon_light"
            android:enabled="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_partial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".launch.DarkIconLauncher"
            android:targetActivity=".launch.LaunchActivity"
            android:icon="@drawable/launcher_icon_dark"
            android:enabled="false"
            android:label="@string/app_name_partial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".intro.activity.IntroActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="standard">
        </activity>
        <activity
            android:name="com.skfo763.qrcheckin.lockscreen.activity.LockScreenActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:forceDarkAllowed="true"
            android:hardwareAccelerated="true"
            tools:targetApi="q">
        </activity>
    </application>

</manifest>